.container{
    width: 0;
    height: 0;
}

.triangulo{
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}

.trapezio{
    width: 100px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid blue;
}

.losango{
    background-color: green;
    
}